#titulo{
    font-family: 'Oswald', sans-serif;
    color:aliceblue;
    position: static;
    left: 50%;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
}
html{
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    height: 100vh;
}
.contenedor {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 30vh; /* Ajusta la altura del contenedor según el viewport */
  }


.btnApp{
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 1.2;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    width: 30%;
    position: relative;

} 
.btnApp:hover{
    background-color: hsl(34, 67%, 85%);
    color: white;
    transition: 0.5s;
}





#marca {
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
    position: fixed; /* Posición fija */
    bottom: 0; /* Coloca el elemento en la parte inferior de la ventana */
    width: 100%; /* Ocupa todo el ancho disponible */
}


.texto input{
    font-family: 'Oswald', sans-serif;
    color:black;
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
    width: 100%;
    height: 400px;
}

.contenidoQr {
    background-color: #989a9c;
    width: 90%;
    left: 50%;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 0.5px;
    display: flex; /* Establece el contenedor como un contenedor flex */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}

#imagenQr{
    width: 50%;
    height: 10%;
    margin: 25%;
}
#tiempo{
    font-family: 'Oswald', sans-serif;
    color:black;
    text-align: center;
    font-size: 2em;
    background-color: white;
    height: 150px;
}

.contador{
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    font-size: 0.8em;

}


.popup{
    position: fixed;
    width: 70vw;
    height: 20%;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    left: 10%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    z-index: 3;
    transition: transform .3s ease-in-out;
    transform: translate(200%);
}

.spread{
    transform: translate(0);
}